
@model PagedList<YEF.Models.YEFUser>

@{
    ViewBag.Title = "用户管理";
}

@section AddToHead{
    @*<link href="@Url.Content("~/Content/MyStyle.css")" rel="stylesheet" type="text/css" />*@
    @Styles.Render("~/DT/css")
}


<section class="wrapper site-min-height">

    <aside >
        <h4 class="drg-event-title"><i class="fa fa-user" ></i> 用户管理 </h4>
       
    </aside>

    <!-- page start-->
    <section class="panel">

        <header class="panel-heading">
            <div class="clearfix">
                <div class="btn-group">
                    <a href="@Url.Action("Create")" class="btn btn-primary">
                        <i class="fa fa-plus"></i> 新增
                    </a>


                </div>
                <div class="btn-group pull-right">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        Tools <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Save as PDF</a></li>
                        <li><a href="#">Export to Excel</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="panel-body">
            <div class="adv-table editable-table ">
               
                <div class="space15"></div>
                <div role="grid" class="dataTables_wrapper form-inline" id="editable-sample_wrapper">
                
                    
                    <table id="editable-sample" class="table table-striped table-hover table-bordered dataTable" aria-describedby="editable-sample_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" rowspan="1" colspan="1"  aria-label="Username">@Html.DisplayNameFor(model => model.YEFRole.RoleName)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" >@Html.DisplayNameFor(model => model.UserName)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" >@Html.DisplayNameFor(model => model.LoginID)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" >@Html.DisplayNameFor(model => model.UserType)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" >@Html.DisplayNameFor(model => model.IsSPAdmin)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="editable-sample" rowspan="1" colspan="1" >操作</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">

                           @{int num = 0;}

                            @foreach (var item in Model)
                            {


                                if (num % 2 == 0)
                                {
                                    <tr class="odd">
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.YEFRole.RoleName)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.LoginID)
                                        </td>
                                        <td class=" ">
                                            @*@Html.FormatUserType( item.UserType)*@
                                            @Html.DisplayFor(modelItem => item.UserType)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.IsSPAdmin)
                                        </td>

                                        @*<td class=" ">
                                            <button class="btn btn-success btn-xs" title="查看" value="查看" ><i class="fa fa-check"></i></button>
                                            
                                            <button class="btn btn-primary btn-xs" title="编辑">@Html.ActionLink("编辑", "Edit", new { id = item.SysUserID }) <i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs" title="删除"><i class="fa fa-trash-o "></i></button>
                                        </td>*@

                                        <td class=" " style="width:100px;">
                                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-xs"><i class="fa  fa-check"></i></a>
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>


                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="even">
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.YEFRole.RoleName)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.LoginID)
                                        </td>
                                        <td class=" ">
                                            @*@Html.FormatUserType(item.UserType)*@
                                            @Html.DisplayFor(modelItem => item.UserType)
                                        </td>
                                        <td class=" ">
                                            @Html.DisplayFor(modelItem => item.IsSPAdmin)
                                        </td>
                                        <td class=" " style="width:100px;">
                                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-success btn-xs"><i class="fa  fa-check"></i></a>
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>

                                        </td>
                                        @*<td class=" ">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.SysUserID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.SysUserID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.SysUserID })
                                        </td>*@
                                    </tr>
                                }

                                num++;
                            }


                        </tbody>
                    </table>
                    <div class="row">
                    <div class="col-lg-6">
                        <div class="dataTables_info" id="editable-sample_info">Showing 1 to 5 of 12 entries</div>
                        </div>
                    <div class="col-lg-6">
                        <div class="dataTables_paginate paging_bootstrap pagination">

                            @*@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false })*@

                            @Html.Pager(Model, new PagerOptions { PageIndexParameterName = "page", ShowPageIndexBox = true, PageIndexBoxType = PageIndexBoxType.DropDownList, ShowGoButton = false, FirstPageRouteName = "Default" }, "Paging", null)
                        @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { LinkToPreviousPageFormat = "上一页", LinkToNextPageFormat = "下一页",LinkToFirstPageFormat="首页",LinkToLastPageFormat="末页" })*@

                        <ul>
                            <li class="prev disabled"><a href="#">← Prev</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#">Next → </a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page end-->
</section>

@section Scripts{@{Html.RegisterMvcPagerScriptResource();}}
<!--===================-->
